
.search-box {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    z-index: 999;
    width: 300px;
       background: #757575;
       display: none;
       top: 0;
       .search-close{
           position: absolute;
           top: 12px;
           right: 5px;
       }
       input{
        width: calc(100% - 50px);
        border:0;
        height: 50px;
        outline: none;
        padding-left: 10px;
        padding-right: 40px;
        font-size: 16px;
    }
    &.show-search{
        display: block;
    }
}


#chart {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.navs{
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 666;
    button{
        margin-right: 5px;
        background: #777;
        display: inline-block;
        padding: 5px;
        border:0;
        outline: none;
    }
}
.add-node {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: auto;
    padding: 15px;
    background: #757575;
    z-index: 999;
    display: none;
    &.show-add{
        display: block;
    }
    .form-item {
        height: 50px;
        line-height: 50px;

        label {
            padding-right: 10px;
            width: 5em;
            display: inline-block;
            text-align: right;
            color: #FFF;
        }

        input,
        select,button{
            border: 0;
            height: 35px;
            line-height: 35px;
            outline: none;
            padding: 0 5px;
        }
        input{
            width: 190px;
        }
        select{
            width: 200px;
        }
        &.desc{
            height: auto;
            textarea{
                border: 0;
                width: 200px;
                margin-left: 90px;
            }
        }



    }

    .submit {
        text-align: right;
        button {
            cursor: pointer;
            display: inline-block;
            margin-right: 10px; 
            width: 80px;
            &:hover{
                background: #ccc;
            }
            &:first-child{
             margin-right: 15px;
            }
        }
    }
    
}


#desc{
    position: fixed;
    width: 100%;
    height: 300px;
    bottom: -300px;
    left: 0;
    background: rgba(255,255,255,.1);
    transition: bottom ease-in 0.5s;
    &.show{
        bottom: 0;
    }
    .desc-content{
        color: #FFF;
        padding: 15px;
        .desc-title{
         padding: 15px 0;
         font-size: 20px;
        }
        .desc-date{
            font-size: 14px;
            margin-left: 15px;
        }
        .desc-detail{
            padding: 15px 0;
        }
    }
}

@media screen and (max-width: 420px) {
    .add-node{
        width: 100%;
        padding: 0;
        height: auto;
        display: none;
        .form-item{
            &:first-child{
                padding-top: 15px;
            }
            &:last-child{
                padding-bottom: 15px;
            }
            padding: 0 15px;
        }
        .submit button {
            margin-right: 55px;
        }
    }
    .search-box{
       width: 100%;
       input{
           width: calc(100% - 50px);
           border:0;
           height: 50px;
           outline: none;
           padding-left: 10px;
           padding-right: 40px;
           font-size: 16px;
       }
    }
    
}