.index-layout{
  .content{
    max-width: 1200px;
    margin: 0 auto;
  }
  .container{
    padding: $padding-base;
  }
}
.header{
    height: $head-height;
    line-height: $head-height;
    display: flex;
    border:1px solid $border-color-base;
    .logo{
        flex: 1;
        padding-left: $padding-base;
    }
    .nav{
        flex: 1;
        text-align: right;
        &-item{
            display: inline;
            a,span{
                padding: 0 $padding-base;
            }
            a{
                text-decoration: none;
                color:$color-link;
            }
        }
    }
}

.article{
    padding: $padding-base;
    font-size: 1rem;
    ul,li{
        padding: 0;
        list-style: none;
    }
}